@page "/"
@using FrontAppBlazor.Services
@inject JwtService JwtService
@inject NavigationManager NavigationManager;
@rendermode InteractiveServer


<h1>Welcome to the app!</h1>

@code {
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      var isAuth = await JwtService.IsAuthenticated();
      if (!isAuth)
      {
        NavigationManager.NavigateTo("/signin");

      }

    }
  }
}
