<footer class="fixed-bottom text-center text-lg-start bg-light text-muted">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
                    © 2024 Copyright:
                    <NavLink class="text-reset fw-bold" href="https://github.com/TheSkyAboveTheSky/csharp-microservice-Said-Mounji-ZZ2-F2">Said MOUNJI</NavLink>
                </div>
            </div>
        </div>
    </div>
</footer>
