<div class="footer" style="position: sticky; left: 0; bottom: 0; width: 100%;">
    <footer class="text-center text-lg-start bg-light text-muted">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
            © 2024 Copyright:
            <NavLink class="text-reset fw-bold" href="">Said MOUNJI</NavLink>
        </div>
    </footer>
</div>
